{% extends 'base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="form-group px-2 py-3 w-50 ">
        <label for="formGroupExampleInput" class="py-1">Enter User ID to delete</label>
        <input type="text" class="form-control py-2" name="user_id" id="formGroupExampleInput">
        <input type="submit" class="btn btn-primary px-2 py-3 mx-2 my-2 w-25">
    </div>
    {% if messages %}
    {% for mess in messages %}
        <div class="text-lx font-bold">
            {{mess}}        
        </div>
    {% endfor %}
{% endif %}
</form>
{% endblock %}